.Records {
  position: fixed;
  bottom: 5vh;
  margin-top: 1rem;
}

.Wrapper {
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Record {
  align-items: center;
  margin: 0.5rem 0;
}

.Num {
  text-align: center;
  border: none;
  background: transparent;
  color: $text-color;
  font-size: 2rem;
  font-weight: 900;
}
