.TaskList {
  max-height: 50vh;
  overflow-y: auto;
  background-color: transparent;
  border: 1px solid transparent;
  margin: 1rem 0;
  width: 100%;
}

.Alert {
  color: #d2d2d2;
  font-weight: bold;
  margin-top: 20px;
}
