/* Import Font */
@font-face {
  font-family: monserat;
  src: url("./assets/font/Montserrat/Montserrat-Black.ttf");
  src: url("./assets/font/Montserrat/Montserrat-Bold.ttf");
  src: url("./assets/font/Montserrat/Montserrat-Italic.ttf");
  src: url("./assets/font/Montserrat/Montserrat-Light.ttf");
  src: url("./assets/font/Montserrat/Montserrat-Medium.ttf");
  src: url("./assets/font/Montserrat/Montserrat-Regular.ttf");
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monserat !important;
}

a {
  text-decoration: none;
}

/* Utilities classes */
.container {
  max-width: 600px;
  margin: 0 auto;
}

.fa-times {
  color: #d2d2d2;
  margin-right: 0.5rem;
  transition: all 0.25s ease-in-out;
  display: none;
}
.fa-times:hover {
  transform: rotate(90deg) scale(1.5);
}
